* {
  color: #ffffff !important;
  transition: all 500ms;
}
.imgHeader {
  min-height: 60em;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 60em;
}
.imgHeader h1 {
  cursor: pointer;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
}
body {
  background-color: #555 !important;
  color: #ffffff !important;
}
.navbar,
.logo-div {
  background-color: #333 !important;
}
.navbar {
  min-height: 10vh;
  z-index: 1;
}
.nav-link {
  font-size: 2em;
  margin-right: 1em;
  border-bottom: 5px solid #333;
}
.nav-link:hover {
  border-bottom: 5px solid #ffffff;
}

.navbar-brand:hover {
  color: #fed330 !important;
}
.dropdown-item,
.dropdown-menu {
  background-color: #555;
  color: #ffffff;
}
.dropdown-item:hover {
  background-color: #333;
}

.dropdown-item {
  cursor: pointer;
}

/*
LOGO
*/
.logo img {
  max-width: 30vw;
  padding: 1em;
}

/*
Book
*/
.book,
.treatments,
.hairdressers {
  height: 20em;
  overflow: hidden;
}
.book p {
  margin: 0;
}
.book p:last-of-type {
  margin-bottom: 1em;
}
.book h1 {
  padding-top: 1.75em;
}
.book {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/img/img5.webp");s
}
.treatments {
  background-color: blue;
}

.hairdressers {
  background-color: green;
}
.book .btn {
  width: 10em;
}

/*
Custom BUttons
*/
.button-custom-bkg {
  border: 5px solid #E8772E;
  background-color: #ffffff !important;
  border-radius: 1em;
  padding: 10px;
  color: black !important;
}
.button-custom-bkg:hover {
  background: #E8772E !important;
  border: 5px solid none;
  color: #ffffff !important;
}
.italic {
  font-style: italic;
}

/*
phone number
*/
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}